<div class="container">
    <div style=" text-align: center;">
      <br>
      <h1>Reporte Cantidad de reportes por categoria objeto </h1>
    </div>
    <div style=" text-align: center;">
      <br>
      <a mat-raised-button [routerLink]="['/','reporte']" style="margin-left:auto;">Volver</a>
    </div>
<br>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" border="5" >
  
        <ng-container matColumnDef="nombre_categoria_objeto">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_categoria_objeto}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
