<div class="container">
<br>
    <h1>Estado Reporte</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="Id" [(ngModel)]="estadoreporte.idEstadoReporte">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput required placeholder="nombre" [(ngModel)]="estadoreporte.nombreEstadoReporte">
  
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="accent" routerLink="/estadoreporte">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>
